.carousel {
  max-height: 300px;
  display: flex;
}
.carousel > div {
  width: 50%;
}
.image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  
}
.div{
  display: flex;
  justify-content: center;
}