/* .ant-menu-item-active{
  color: #3fbb5eff;
}
.ant-menu-title-content{
  color: #3fbb5eff;
} */
 :where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light>.ant-menu .ant-menu-item-selected {
    color: #37e515f2;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light>.ant-menu .ant-menu-item-selected {
    background-color: #ebffe6;
}
:where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected, :where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected {
    color: #3cee18f2;
}
:where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after, :where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected::after, :where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected::after, :where(.css-dev-only-do-not-override-1odpy5d).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected::after {
    border-bottom-width: 2px;
    border-bottom-color: #4cff16;
}

.ant-menu-item{
  /* border-bottom: 0 solid #3cee18f2 !important; */
  border: none !important;
}