
.menu-desktop {
  display: flex;
  
}

.menu-mobile {
  display: none;
}

@media (max-width: 500px) {
  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 24px;
    cursor: pointer;
    
  }
}

.logo{
  max-width: 32px;
  object-fit: contain;
}

.navbar{
  flex: 1;
  justify-content: space-around;
}

