.link {
  background-color: rgba(135, 203, 148,0.37);
  border-radius: 15px;
  border: 1.5px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  padding: 10px 25px;
  margin-bottom: 5px;
}

.link:hover {
  background-color: rgba(100, 165, 96, 0.699);
}
