#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
img {
  max-width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}
.d-flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}
